.BasicTableCell {
    border: 1px solid #eaeaea;
    padding: 12px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;

    &.Left {
        text-align: center;
    }
    &.Right {
        text-align: right;
    }
    &.AsHeader {
        background: var(--base-color-senary);
        font-size: var(--font-size-sm);
        color: var(--base-color-tertiary);
    }
    &.Editable {
        outline: none;
    }
    &.Fixed {
        width: var(--cell-width);
        min-width: var(--cell-width);
        white-space: normal;
        overflow-wrap: break-word; // 긴 단어가 넘칠 경우 줄바꿈 처리
        word-break: break-all;
    }
}

// .basic-table-cell:focus {
//     outline: none;
// }
