/* Block: table-cell */
.basic-table-cell {
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
    display: table-cell;
    vertical-align: top; // 수직 정렬: 위쪽
    word-wrap: break-word; // 긴 단어 줄바꿈
    word-break: break-word; // 단어가 길 때 강제로 줄바꿈
    white-space: normal; // 텍스트가 셀 너비를 초과하면 줄바꿈
    overflow-wrap: break-word; // CSS3 기준

    @media (max-width: 1024px) {
        width: 100px;
    }
}

.basic-table-cell--left {
    text-align: left;
}

.basic-table-cell--center {
    text-align: center;
}

.basic-table-cell--right {
    text-align: right;
}
