/* Block: basic-input */
.BasicInput {
    padding: 10px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    color: var(--base-color-tertiary);

    &.Border {
        border: 1px solid var(--base-color-quaternary);
    }
    &:focus-within {
        border: 1px solid var(--brand-color-primary);
    }

    input {
        width: 100%;
        padding: 0;
        border: none;
        font-size: var(--input-font-size);
        font-weight: var(--input-font-weight);
        font-family: Pretendard, sans-serif;
        outline: none;
    }
}
