/* Block: basic-input */
.basic-input {
    padding: 10px 18px;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid var(--base-color-quaternary);
    display: flex;
    align-items: center;
    color: var(--base-color-tertiary);

    &:focus-within {
        border: 1px solid var(--brand-color-primary);
    }
}

/* Element: basic-input__input */
.basic-input__input {
    width: 100%;
    padding: 10px 18px;
    border: none;
    font-size: var(--font-size-sm);
    font-family: Pretendard, sans-serif;
    outline: none;
}
