/* Block: sidebar-menu-accordion */
.sidebar-menu-accordion {
    &__box {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);
        gap: 16px;
        align-items: center;
    }

    &__button {
        width: 100%;
        background-color: inherit;
        border: none;
        padding: 0 10px;
        color: #646f7a;
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-semi-bold);
        box-sizing: border-box;
        cursor: pointer;
    }

    &__visible {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 36px;
    }

    &__hidden {
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 0 10px;
    }
}
