// @import 'theme';

.basic-table-header {
    background: var(--base-color-senary);
    height: var(--box-35);
    text-align: left;
    padding: 12px;
    // box-sizing: border-box;
    font-size: var(--font-13);
    color: var(--base-color-tertiary);
}
