// @import 'theme';

.basic-table-header {
    background: var(--base-color-senary);
    height: 60px;
    text-align: left;
    padding: 12px;
    // box-sizing: border-box;
    font-size: var(--font-size-sm);
    color: var(--base-color-tertiary);
}
