.DevelopArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    height: 100%;

    .Title {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bold);
        color: var(--base-color-primary);
    }

    .SubTitle {
        font-size: var(--font-size-sm);
        color: var(--base-color-tertiary);
    }
}
