.Content {
    display: flex;
    align-items: center;
    justify-content: var(--align);

    height: 40px;
    padding: 0 var(--space-15);
    font-size: var(--font-14);
    box-sizing: border-box;
}
