.Cell {
    border: 1px solid #dedede;
    text-align: center;
    padding: 0;
    font-size: 12px;
    background: var(--background, #fff);
    color: #7b7b7b; /* ✅ 핵심 */
    vertical-align: middle;
    height: 20px;
    box-sizing: border-box;

    &[data-type='blue'] {
        background: #4a90e2;
        color: #fff !important;
        font-weight: bold;
    }

    &[data-type='purple'] {
        background: #c59cff;
        color: #7b7b7b !important;
        font-weight: bold;
    }

    &[data-type='transparent'] {
        background: #fff;
        color: #7b7b7b;
    }

    &.NoBorder {
        border: none;
        background: #fff;
        position: relative;
        // box-sizing: border-box;
        &.Horizontal::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 5px;
            height: 1px;
            background: #dedede;
        }

        &.Vertical::before {
            content: '';
            position: absolute;
            right: 0px;
            bottom: 0;
            width: 1px;
            height: 5px;
            background: #dedede;
        }
    }
}

/* ✅ 추가: border 없는 셀 */
