.MediumMenu {
    display: flex;
    height: var(--box-60);
    gap: var(--space-20);
    width: 100%;
    box-sizing: border-box;
}

// .HasSmallMenu {
//     padding: 0px 40px;
//     padding-top: 30px;
//     padding-bottom: 10px;
// }
