.MediumMenu {
    display: flex;
    gap: 16px;
    width: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
}

.HasSmallMenu {
    padding: 0px 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}
