.ProfileCard {
    background-color: inherit;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color-primary);
    }

    &.Active {
        background-color: var(--active-color-primary);
    }
}

.Profile {
    width: var(--image-width);
    height: var(--image-height);
    border-radius: var(--font-size-xs);

    &.Default {
        background-color: #f9813199;
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--base-color-secondary);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-semi-bold);
    }
}
