.ArticleEditor {
}

.Editor {
    min-height: 300px;
}

:global {
    .quill {
        border-radius: var(--border-radius-sm);
        border: 1px solid var(--base-color-quaternary) !important;
    }

    .ql-container {
        height: auto; /* 자동으로 내부 콘텐츠에 맞춰 높이 설정 */
        overflow-y: auto;
        min-height: 300px;
    }

    .ql-toolbar {
        // border-top-left-radius: var(--border-radius-sm);
        // border-top-right-radius: var(--border-radius-sm);
        border: none !important;
        // height: 60px;

        display: flex;
        align-items: center;
    }

    .ql-container {
        border: none !important;
        // border-bottom-left-radius: var(--border-radius-sm);
        // border-bottom-right-radius: var(--border-radius-sm);
        overflow: hidden;
        // background-color: red !important;
    }

    .ql-editor strong {
        font-weight: bold;
    }

    .ql-editor em {
        font-style: italic;
    }
}
