/* Block: basic-select, Element: content */
.basic-select__content {
    height: auto;
    width: 240px;
    padding: 6px 0;
    border-radius: 6px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 28px;
    list-style: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
