.Item {
    display: flex;
    align-items: center;
    gap: var(--space-15);

    padding: var(--space-10) var(--space-20);

    &:hover {
        background-color: #e6f0ff;
    }

    .Checkbox {
        width: var(--box-20);
        height: var(--box-20);
        border: 1px solid#D5D5D5;
        box-sizing: border-box;

        border-radius: 4px;
        &.Active {
            background-color: var(--primary-color);
            border: none;
        }
    }

    .Text {
        span {
            color: #474747;
            font-size: var(--font-15);
            font-weight: 400;
        }
        &.Active span {
            color: #161616;
            font-weight: 500;
        }
    }
}
