.UploadNotice {
    color: var(--gray2, #7b7b7b);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    .Exclamation {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: var(--gray2, #7b7b7b);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }
}
