/* Wrapper div */
/* 📌 테이블 전체 래퍼 */
.DefaultTableWrapper {
    width: 100%;
    overflow-x: auto;
}

.DefaultTable {
    table-layout: fixed;
    width: var(--width);
    border-collapse: collapse;
}
