.HamburgerDropdownTrigger {
    background-color: inherit;
    border: none;
    padding: 0;
    color: var(--base-color-primary);
    cursor: pointer;
    border-radius: var(--radius);
    &:hover {
        background-color: var(--hover-color-secondary);
    }
}
