.Wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
}

.ImageDraggableInput {
    background-color: #f5f6fa;
    border: 2px dashed #bdbdbd;
    border-radius: 6px;
    padding: var(--space-25);
    text-align: center;
    cursor: pointer;
    transition: border-color 0.2s ease;
    &:hover {
        border-color: #999;
    }
}

.Content {
    display: flex;
    flex-direction: column;
    gap: var(--space-7);
    align-items: center;
}

.Icon {
    width: var(--box-30);
    height: var(--box-30);
    color: var(--primary-color);
}

.Text {
    color: var(--primary-color);
    font-size: var(--font-14);
}

.uploadButton {
    width: fit-content;
    background-color: var(--primary-color);
    padding: var(--space-7) var(--space-15);
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;

    font-size: var(--font-15);
    color: #fff;
}

.Preview {
    img {
        border-radius: 8px;
        width: 100%;
        aspect-ratio: 4/5;
        border-radius: 1px solid #e2e2e2;
    }
}

.Footer {
    display: flex;
    justify-content: space-between;

    .ImageName {
        font-size: var(--font-16);
        color: #474747;
    }

    .Delete {
        width: var(--box-20);
        height: var(--box-20);
        border-radius: 50%;
        background-color: #474747;
        padding: 0;

        display: flex; // ★ 추가
        align-items: center; // 수직 정렬
        justify-content: center;

        cursor: pointer;
        .Icon {
            color: #fff;
            width: 60%;
            height: 60%;
        }
    }
}
