.MediumMenuItem {
    font-size: 28px;
    font-weight: 700;
    color: #cacccd;

    background-color: inherit;
    border: none;
    cursor: pointer;

    &:hover {
        color: #7e888b;
    }

    &.active {
        // active 상태일 때 적용할 스타일을 여기에 작성합니다.
        color: #324449; /* 예시: active일 때 글자색을 파란색으로 변경 */
    }
}
