.MediumMenuItem {
    font-size: var(--font-15);
    font-weight: 700;
    color: #a9a9a9;

    background-color: inherit;
    border: none;
    cursor: pointer;

    &:hover {
        color: #464646;
    }

    &.active {
        // active 상태일 때 적용할 스타일을 여기에 작성합니다.
        color: #464646; /* 예시: active일 때 글자색을 파란색으로 변경 */
    }
}
