/* Block: sidebar-menu-item */
.MenuItem {
    width: 100%;
    border-radius: 30px;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    padding: 10px 20px;
    box-sizing: border-box;
    color: var(--base-color-tertiary);
    cursor: pointer;

    &:hover {
        color: #7b7b7b;
        background: #fff; // blackAlpha008
    }

    &.Active {
        color: #7b7b7b;
        background: #fff; // blackAlpha004
    }
}
