/* Block: basic-button */
.basic-button {
    padding: 5px 16px;
    box-sizing: border-box;
    width: auto;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-family: Pretendard, sans-serif;
    font-weight: 700;
    white-space: nowrap;
    transition: all 0.3s ease;
    cursor: pointer;
}
