/* Block: basic-button */
.basic-button {
    padding: 5px 16px;
    box-sizing: border-box;
    width: auto;
    border-radius: var(--border-radius);
    border: none;
    color: var(--base-color-secondary);
    font-family: Pretendard, sans-serif;
    font-weight: var(--font-weight-bold);
    white-space: nowrap;
    transition: all 0.3s ease;
    cursor: pointer;
}
