.BasicCard {
    padding: 16px 12px;
    border: 1px solid var(--base-color-tertiary);
    border-radius: var(--border-radius);

    &:hover {
        background-color: var(--hover-color-primary);
    }
    cursor: pointer;
}

.BasicCardGrid {
    @media (max-width: 1524px) {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

.Profile {
    width: 20px;
    height: 20px;
    border-radius: var(--font-size-xs);

    &.Default {
        background-color: #f9813199;
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--base-color-secondary);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-semi-bold);
    }
}
