.CompanyProfileItem {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;

    padding: 8px 20px;
    box-sizing: border-box;
    cursor: pointer;

    .Default {
        width: 25px;
        height: 25px;
        background-color: #d9d9d9;
        border-radius: 4px;

        @media (max-width: 1280px) {
            display: none;
        }
    }

    img {
        width: 25px;
        height: 25px;
        border-radius: 4px;

        // @media (max-width: 1280px) {
        //     display: none;
        // }
    }

    span {
        font-size: 14px;
        color: #474747;
        // white-space: nowrap;
    }

    &.Active {
        background-color: #fff5eb;

        span {
            color: 161616;
            font-weight: 600;
        }
    }
}
