.BasicToggle {
    width: 40px;
    height: 25px;
    background-color: var(--base-color-quaternary);
    border-radius: 34px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 1px solid var(--base-color-senary);

    &.Active {
        background-color: var(--success-color-primary);
    }
    &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        left: 2px;
        top: 2px;
        background-color: #fff;
        border-radius: 50%;
        transition: transform 0.2s;
        transform: translateX(0); /* 초기 상태 설정 */
        box-shadow: var(--brand-shadow-primary);
    }

    &.Active::before {
        transform: translateX(16px);
    }
}

// .CheckToggleActive {
//     background-color: #4caf50;
// }
