.BasicToggle {
    width: var(--box-40);
    height: var(--box-25);
    background-color: #d5d5d5;
    border: 1px solid var(--base-color-senary);
    border-radius: 34px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;

    &::before {
        content: '';
        position: absolute;
        width: var(--box-15);
        height: var(--box-15);
        top: 50%;
        left: 4px;
        background-color: #fff;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s;
        // box-shadow: var(--brand-shadow-primary);
    }

    &.Active {
        background-color: var(--primary-color);

        &::before {
            transform: translate(100%, -50%);
        }
    }

    &.Disabled {
        background-color: #f0f0f0;
        border-color: #ccc;
        cursor: not-allowed;
        opacity: 0.6;
        pointer-events: none;

        &::before {
            background-color: #ddd;
        }
    }
}
