.BasicModalContent {
    width: 100%;
    max-width: 1140px;
    background-color: var(--base-color-secondary);
    z-index: var(--z-index-modal2);
    border-radius: 20px;
    transition: opacity 300ms, transform 300ms;
}
