/* Wrapper div */
/* 📌 테이블 전체 래퍼 */
.basic-table-wrapper {
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    overflow: auto;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px;
}

.basic-table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    table-layout: auto;
}
