/* Wrapper div */
.basic-table-wrapper {
    border-radius: 8px;
    overflow-x: auto;

    @media (max-width: 1024px) {
        min-width: 1024px;
    }
}

.basic-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border: 0.5px solid #ddd;
}
