/* Wrapper div */
/* 📌 테이블 전체 래퍼 */
.basic-table-wrapper {
    width: 100%;
    border: 1px solid var(--base-color-quaternary);
    border-radius: var(--border-radius);
    overflow: auto;
    background: var(--base-color-secondary);
}

.basic-table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    table-layout: auto;
}
